<h1>Greetings, <%= @name %></h1>
<p>The time now is <%= formated_time(@time) %></p>
<p>This page has been viewed <%= @times_displayed %> times(s)</p>

<p><%= link_to "Google", "http://www.google.com"%></p>
<p><%= link_to "Goodbye", "http://localhost:3000/greeter/goodbye"%></p>
